<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Assessment Home</title>
</head>

<body>
  <div class="container">
    <div class="row lk">

      <div class="col-lg-4">

      </div>
      <div class="col-lg-4">
        <button type="button" class="btn btn-light btn-lg" [routerLink]="['/registration']">Sign Up</button>
        <button type="button" class="btn btn-light btn-lg" [routerLink]="['/login']">Log In</button>
      </div>

    </div>
    <div class="row ">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: center">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

</body>

</html>
